.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.clock-index {
  position: absolute;
  width: 2px;
  height: 10px;
  background-color: #1c232b;
  transform-origin: 50% 125px;
}

.clock-hour-hand {
  position: absolute;
  width: 6px;
  height: 80px;
  background-color: #1c232b;
  transform: translateY(-50%) rotate(var(--clock-hour-degree));
  transform-origin: 50% 100%;
}

.clock-minute-hand {
  position: absolute;
  width: 4px;
  height: 100px;
  background-color: #1c232b;
  transform: translateY(-50%) rotate(var(--clock-minute-degree));
  transform-origin: 50% 100%;
}

.clock-second-hand {
  position: absolute;
  width: 2px;
  height: 110px;
  background-color: #1c232b;
  transform: translateY(-50%) rotate(var(--clock-second-degree));
  transform-origin: 50% 100%;
}
