.watch {
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}

.watch-hour-hand {
  position: absolute;
  width: 6px;
  height: 80px;
  background-color: #1c232b;
  transform: translateY(-50%) rotate(var(--watch-hour-degree));
  transform-origin: 50% 100%;
}

.watch-minute-hand {
  position: absolute;
  width: 4px;
  height: 100px;
  background-color: #1c232b;
  transform: translateY(-50%) rotate(var(--watch-minute-degree));
  transform-origin: 50% 100%;
}

.watch-second-hand {
  position: absolute;
  width: 2px;
  height: 110px;
  background-color: #1c232b;
  transform: translateY(-50%) rotate(var(--watch-second-degree));
  transform-origin: 50% 100%;
}